@model IEnumerable<CarServiceModel>

<div class="row">
    @foreach (var car in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3" @*style="width: 18rem;"*@>
                <img src="@car.ImageUrl" class="card-img-top" alt="@car.Brand @car.Model - @car.Year (@car.CategoryName)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@car.Brand @car.Model (@car.Year)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" asp-route-information="@car.GetInformation()" class="btn btn-primary">View More</a>
                    @if(ViewBag.AllowCarEdit == true || User.IsInRole(WebConstants.AdministratorRoleName))
                    {
                        <a asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>