@model AllCarsQueryModel

<div class="row">
    <form method="get">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Brand"></label>
                <select asp-for="Brand" class="form-control">
                    <option value="">All</option>
                    @foreach (var brand in Model.Brands)
                    {
                        <option value=@brand>@brand</option>
                    }
                </select>
            </div>
            
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="SearchTerm"></label>
                    <input asp-for="SearchTerm" class="form-control">
                </div>
            </div>            

            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="SearchTerm"></label>
                    <input asp-for="SearchTerm" class="form-control">
                </div>
            </div>

            <div class="row mb-4">
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>

        </div>
    </form>
</div>

<div class="row">
    @foreach (var car in Model.Cars)
    {
        <div class="col-md-4">
            <div class="card mb-3" @*style="width: 18rem;"*@>
                <img src="@car.ImageUrl" class="card-img-top" alt="@car.Brand @car.Model - @car.Year (@car.Category)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@car.Brand @car.Model (@car.Year)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>




